.container-fluid {
  width: 100% !important;
  margin: 0 auto;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5) !important /* Darker shadow */;
  background-image: linear-gradient(
    135deg,
    #00004c,
    #2a5298
  ) !important; /* Gradient from dark blue to medium blue */
  background-size: cover !important /* Ensures the background covers the entire container */ ;
}
.container-fluid > h1 {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  font-family: "amatic sc", cursive;
  font-weight: 600;
  font-size: 4rem !important;
  text-align: center;

}

.w-90 {
  width: 90%;
}
.quote-container {
  background: linear-gradient(135deg, #232526, #414345);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    min-height: 50% !important;
}
.quote-box {
  background: linear-gradient(135deg, #3a3d40, #52575c);
  color: #f1f1f1;
  min-height: 50% !important;
}
.btn-quote {
  background-color: #4f46e5 !important; /* Indigo */
  color: white !important;
  border: none !important;
}
.btn-quote:hover {
  background-color: #4338ca !important; /* Darker Indigo on hover */
}
#quote {
  font-family: "Caveat", cursive;
  text-align: center;
  color: #f1f1f1;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
  font-size: 1.5rem;
  margin: 0;

}
